@tailwind base;
@tailwind components;
@tailwind utilities;

@import './normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Pridi', serif;
  color: #3e3e3e;
  background-color: #fafafa;
}
